<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body background="">
<nav class="navbar navbar-expand-sm bg-light">
    <ul class="navbar-nav navbar-left">
        <div class="container">
            <button type="button pull-right" class="btn btn-primary btn-md" data-toggle="collapse" data-target="#demo"><i class="fa fa-bars"></i></button>
        </div>
    </ul>

</nav>
<br>
<div id="demo" class="collapse">
    <div id="profile_leftPanel" class="btn-group-vertical">
        <button onclick="location.href='http://localhost:8080'" type="button" class="button" >Home</button>
        <button type="button" class="button" >Spaceship</button>
        <button type="button" class="button" >Player Details</button>
        <button type="button" class="button" >Credits</button>
    </div>
</div>
<!-- leftPanel end -->
<div id="profile_rightPanel">
    <div id="profile_rightPanel_center">
        <div class="row">
            <div class="col-md-6">
                <table class="table" align="center">
                    <thead>
                    <tr>
                        <th> Nickname </th>
                        <th> Score </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:if="${topPlayers.empty}">
                        <td colspan="2"> No active players found </td>
                    </tr>
                    <tr th:each="topPlayer : ${topPlayers}">
                        <td><span th:text="${topPlayer.nickname}"> Nickname </span></td>
                        <td><span th:text="${topPlayer.score}"> Score </span></td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
    <!-- _center end -->
</div>
</body>
</html>