#profile_leftPanel {
    width: 200px;
    float: left;

    margin-right: 20px;
}
#profile_rightPanel_center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.button:hover {
    background-color: #008CBA;
    color: white;
}
.button {
    background-color: #555555;
    width: 200px;
    border: none;
    color: white;
    padding: 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}
body {
    background-image: url('../img/kapitan.png');
}
table, th, td {
    border: 1px solid aliceblue;
    border-collapse: collapse;
}
th, td {
    padding: 15px;
    color: aliceblue;
}